/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-color: #0a0a0b;
	--text-color: #fff;
	--text-font: "Manrope", sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #0a0a0b;
		--text-color: #fff;
		--text-font: "Manrope", sans-serif;
	}
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	color: rgb(var(--text-color));
	background: var(--background-color);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.card-border {
	border: 1px solid;
	border-image-source: linear-gradient(
		212.64deg,
		#19fb9b 19.57%,
		#8c01fa 139.72%
	);
}
